taxi_data/
.ipynb_checkpopints/
Lib/
Scripts/
venv/
test.py
airflow/logs/
.idea/
airflow/dags/__pycache__/
test_dev/
database/
airflow/data/
test_file.parquet
.vscode/settings.json
airflow/dags/common/operators/__pycache__/
airflow/dags/common/data/
airflow/.env